// COLORS
:root {
    --primary-dark: #3c4ef3;
    --primary-light: #eceeff;
    --secondary-dark: #050520;
    --secondary-light: #4a4f78;
    --header-border: #121233;
}

// RESET
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

button,
input,
select,
textarea {
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

// COMMON
.container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

.heading {
    position: relative;
    font-size: 4rem;
    font-weight: 700;
    color: var(--secondary-dark);
    padding-bottom: 1.4rem;
    margin-bottom: 3rem;
    text-align: center;

    &::after {
        content: '';
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        width: 6rem;
        height: 0.3rem;
        background: var(--primary-dark);
    }
}

.paragraph {
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--secondary-light);
    text-align: center;
    max-width: 80rem;
    margin: 0 auto;
}

//HERO
.hero {
    background: var(--secondary-dark);

    .hero__info {
        text-align: center;
        padding: 9rem 0 4rem 0;
        .hero__label {
            text-transform: uppercase;
            letter-spacing: 2px;
            color: rgba(255, 255, 255, 0.5);
        }
        .hero__title {
            font-weight: 700;
            color: #fff;
            font-size: 6rem;
        }
        .hero__rating {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin: 0.5rem 0;

            .hero__rating_icon {
                i {
                    font-size: 1.8rem;
                    color: #ffc500;
                }
            }

            .hero__rating_txt {
                color: #ffffff;
                font-size: 1.4rem;
                line-height: 1;
            }
        }
        .hero__tags {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.8rem 1.4rem;
            margin-top: 1.6rem;

            .hero__tags_item {
                padding: 0.6rem 1.6rem;
                border-radius: 3rem;
                border: 1px solid var(--primary-dark);
                font-size: 1.4rem;
                color: #ffffff;
            }
        }
    }

    .hero__contact {
        border-top: 1px solid var(--header-border);
        padding: 2rem 0;
        min-height: 6rem;

        .hero__contact_action {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.6rem 4rem;
            .hero__contact_link {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                gap: 1.6rem;
                text-decoration: none;
                outline: 0;

                i {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    background: var(--primary-dark);
                    height: 3.2rem;
                    width: 3.2rem;
                    border-radius: 4px;
                    color: #fff;
                }

                span {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }
}

//HEADER
.header {
    padding: 2rem 0;
    background: #fff;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    min-height: 80px;
    z-index: 1;

    > .container {
        display: flex;
        align-items: center;

        .header__brand {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            gap: 1rem;
            small {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background: var(--primary-dark);
                height: 3.8rem;
                width: 3.8rem;
                border-radius: 8px;
                text-transform: uppercase;
                font-size: 1.4rem;
                font-weight: 500;
                color: #fff;
            }
            span {
                font-size: 1.8rem;
                font-weight: 600;
                color: var(--secondary-light);
            }
        }

        .header__nav {
            display: inline-flex;
            gap: 1rem 3rem;
            margin-left: auto;
            margin-right: 0;
            .header__nav_link {
                display: inline-flex;
                padding: 0.5rem;
                text-decoration: none;
                font-size: 1.6rem;
                font-weight: 500;
                color: var(--secondary-light);
                &.header__nav_link--active {
                    color: var(--primary-dark);
                }
            }
        }
    }
}

//FOOTER
.footer {
    background: var(--secondary-dark);
    padding: 5rem 0;

    .footer__area {
        display: grid;
        grid-template-columns: repeat(3, 40% 30% 30%);
        gap: 3rem;
        grid-template-areas:
            'a-about a-address a-bizhrs'
            'a-copy a-copy a-copy';

        .area-about {
            grid-area: a-about;
        }
        .area-address {
            grid-area: a-address;
        }
        .area-bizhrs {
            grid-area: a-bizhrs;
        }
        .area-copy {
            grid-area: a-copy;
        }
    }

    .footer__head {
        color: #fff;
        font-size: 2.4rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }

    .footer__para {
        color: rgba(255, 255, 255, 0.5);
        font-size: 1.6rem;
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }

        small {
            font-size: 1.2rem;
            display: flex;
        }
    }

    .footer__about {
    }

    .footer__address {
        .footer__social {
            display: flex;
            gap: 1.6rem;
            .footer__social_link {
                color: rgba(255, 255, 255, 0.5);
                i {
                    font-size: 3.2rem;
                }

                &:hover {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }
    }

    .footer__bizhrs {
    }

    .footer__copy {
        color: rgba(255, 255, 255, 0.3);
        border-top: 1px solid var(--header-border);
        font-size: 1.6rem;
        padding-top: 2.4rem;
        text-align: center;
        margin-top: 2.4rem;
    }
}

//ABOUT
.about {
    padding: 8rem 0;
    .about__profile {
        text-align: center;
        margin-top: 6rem;
        .about__pic {
            max-width: 260px;
            max-height: 260px;
            border-radius: 50%;
        }
        .about__name {
            margin-top: 2rem;
            font-size: 3.2rem;
            font-weight: 600;
            color: var(--primary-dark);
        }
        .about__designation {
            margin-top: 0.5rem;
            margin-bottom: 2rem;
            font-size: 1.8rem;
            font-weight: 600;
            color: var(--secondary-dark);
        }
    }
}

//PRODUCT
.product {
    padding: 8rem 0;
    .product__select {
        margin: 4rem auto 6rem auto;
        display: flex;
        justify-content: center;
        .custom_Select {
            border-radius: 4px;
            padding: 1.6rem 2.4rem;
            width: 100%;
            max-width: 350px;
            font-size: 1.6rem;
            font-weight: 600;
            color: var(--primary-dark);
            border: 2px solid var(--primary-dark);
            min-height: 6rem;
            border-radius: 5rem;
            outline: 0;
            appearance: none;
            position: relative;
            background-color: #fff;
            background-image: url('../images/arrow.png');
            background-repeat: no-repeat;
            background-position: center right 2.4rem;
            option {
                color: var(--secondary-dark);
            }
        }
    }
    .product__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.4rem;
        .product__item {
            border: 1px solid #d8dbf4;
            border-radius: 0.4rem;
            position: relative;

            .product__details {
                display: inline-flex;
                position: absolute;
                font-size: 1.8rem;
                right: 1.6rem;
                top: 1.6rem;
                color: var(--secondary-light);
            }
            .product__img {
                display: flex;
                justify-content: center;
                padding: 1.6rem 0;
            }
            .product__title {
                font-size: 2.2rem;
                font-weight: 600;
                text-align: center;
                color: var(--secondary-dark);
            }
            .product__price {
                font-size: 2rem;
                font-weight: 600;
                text-align: center;
                color: var(--secondary-light);
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;

                i {
                    margin-right: 1rem;
                    font-size: 1.8rem;
                }
            }
            .product__size {
                display: grid;
                gap: 0.5rem;
                grid-template-columns: repeat(5, minmax(5rem, 6rem));
                padding: 1rem 2rem;
                justify-content: center;

                .product__size_item {
                    border: 1px dashed #d8dbf4;
                    background-color: #fff;
                    border-radius: 0.4rem;
                    padding: 0.5rem;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    span {
                        font-size: 1.2rem;
                        font-weight: 600;
                        color: var(--secondary-dark);
                    }

                    small {
                        font-size: 1.1rem;
                        color: var(--secondary-light);
                    }

                    &.product__size_item--active {
                    }
                    &.product__size_item--off {
                        filter: blur(100%);
                    }
                }
            }
            .product__method {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                padding: 1.6rem;
                padding-top: 0;
                .product__method_item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 0.5rem;

                    i {
                        font-size: 2.4rem;
                    }

                    span {
                        display: inline-flex;
                        margin-top: 0.6rem;
                        font-size: 1.4rem;
                        font-weight: 600;
                    }

                    &.product__method_item--off {
                        opacity: 0.3;
                    }
                }
            }
            .product__patch {
                display: flex;
                background-color: #eceeff;
                height: 11rem;
                position: absolute;
                bottom: 0;
                width: 100%;
                z-index: -1;
            }
        }
    }
}

//RESELLER
.reseller {
    padding: 8rem 0;
    .reseller__list {
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(5, minmax(200px, 1fr));
        gap: 3rem;
        margin-top: 4rem;
        .reseller__list_item {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-height: 10rem;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 1rem;
            > img {
                max-height: 100%;
            }
        }
    }
}

//CONTACT
.contact {
    padding: 8rem 0;
    .contact__form {
        margin-top: 6rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem 3rem;
        grid-template-areas:
            'a-name a-email'
            'a-mobile a-subject'
            'a-message a-message'
            'a-send a-send';

        .area-name {
            grid-area: a-name;
        }
        .area-email {
            grid-area: a-email;
        }
        .area-mobile {
            grid-area: a-mobile;
        }
        .area-subject {
            grid-area: a-subject;
        }
        .area-message {
            grid-area: a-message;
        }
        .area-send {
            grid-area: a-send;
        }

        .form_group {
            position: relative;
            .form_label {
                display: inline-flex;
                font-size: 1.4rem;
                position: absolute;
                top: -1.2rem;
                left: 1rem;
                padding: 0.2rem 1rem;
                background: #fff;
                color: var(--secondary-light);
            }
            .form_control {
                width: 100%;
                padding: 0.9rem 1.2rem;
                height: 100%;
                min-height: 5rem;
                border: 2px solid #666a92;
                border-radius: 4px;
                outline: 0;
                transition: 300ms border;
                font-size: 1.6rem;
                color: var(--secondary-dark);

                &:focus {
                    border: 2px solid var(--primary-dark);
                }
            }
        }

        .btn_send_message {
            padding: 1.2rem;
            min-height: 6rem;
            font-size: 1.8rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 450px;
            margin-left: auto;
            margin-right: auto;
            color: #fff;
            background: var(--primary-dark);
            outline: 0;
            border-radius: 4px;
            border: 0;
            cursor: pointer;
            i {
                font-size: 20px;
                margin-right: 1.4rem;
            }
        }
    }
}

.map {
    line-height: 0;
    iframe {
        margin: 0;
        padding: 0;
    }
}
